body {
font-family: "Gowun Dodum", sans-serif;
margin: 0;
padding: 0;
}
#Link {
text-decoration: none;
}

header {
background-color: #333;
padding: 20px;
text-align: center;
}

header h1 {
color: white;
margin: 0;
font-size: 60px;
}

.MvDetails {
display: flex;
align-items: center;
margin: 20px;
}

.poster {
flex: 1;
}

.details {
flex: 2;
padding: 20px;
}

#posterImg {
max-width: 100%;
height: auto;
}

h2 {
margin: 0;
font-size: 24px;
}

p {
margin: 10px 0;
}

.Comments {
margin: 20px;
}

h2 {
font-size: 24px;
margin-bottom: 10px;
}

.commentForm input,
.commentForm textarea {
display: block;
margin-bottom: 10px;
padding: 5px;
width: 20%;
margin: 0 auto;
margin-top: 20px;
}

.commentForm button {
background-color: #333;
color: #fff;
padding: 5px 10px;
border: none;
cursor: pointer;
width: 20%;
}

.commentList {
margin-top: 20px;
}

.comment {
border: 1px solid #ddd;
padding: 10px;
margin-bottom: 10px;
text-align: center;
}

.comment p {
margin: 0;
}

.Comments {
text-align: center;
}

.comment button {
background-color: green;
color: white;
padding: 5px 10px;
border: none;
cursor: pointer;
margin-left: 10px;
}

.comment button:first-child {
background-color: gray;
}

.comment button:hover {
background-color: rgb(0, 204, 255);
}

.comment2 {
text-align: center;
margin-bottom: 20px;
}

#commentContent {
width: 20%;
margin-bottom: 10px;
}

#rvbtn {
background-color: #333;
color: white;
}

#posterImg {
border-radius: 10px;
}
